body {
    margin: 0;
    background: #0a0a0a;
    font-family: Arial, sans-serif;
    color: white;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden {
    display: none;
}

.box {
    background: #111;
    padding: 25px;
    border-radius: 10px;
    width: 85%;
    max-width: 350px;
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

button {
    width: 95%;
    padding: 10px;
    background: #6200ea;
    border: none;
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #7c36ff;
}

.menuBtn {
    margin: 10px 0;
}

.backBtn {
    background: #333;
    width: 60%;
}

header {
    background: #111;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#messagesBox {
    height: 60vh;
    overflow-y: auto;
    padding: 10px;
}
