body {
    margin: 0;
    background: #000;
    font-family: Arial;
    color: white;
}

/* Ocultar elementos */
.hidden {
    display: none;
}

/* Centrado general */
.center-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caja de login */
.login-box, .menu-box {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    backdrop-filter: blur(8px);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    padding: 10px;
    background: #4c4cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
}

button:hover {
    background: #6f6fff;
}

.menu-buttons button {
    width: 80%;
    margin-bottom: 10px;
}

/* Chat */
.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: #111;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

footer {
    padding: 15px;
    background: #111;
    display: flex;
    gap: 10px;
}

footer input {
    flex: 1;
}
